<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Your song is <%= song.title %> by <%= song.artist %></p>
    <iframe width="560" height="315" src=<%= song.youtubeUrl %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>This is your song if you are feeling this personality thing </p>
  </body>
</html>
